@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,300&display=swap');
:root
{
    --lg:linear-gradient(rgba(248,17,17,0.5),rgba(90,9,9,0.5));
    --rgb:rgb(238,129,129);
    --red:#ff751a;
    --blue:#66b3ff;
    --black:#000;
    --white:#fff;
    --facebook:#4267B2;
    --google:#DB4437;
    --box-shade:0 .5rem .3rem rgba(0,0,0,0.2);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: sans-serif;
}
html {
    font-size: 65.4%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/******************header*********************/
.header{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 2rem 9%;
background: var(--white);
box-shadow: var(--box-shade);
position: fixed;
}
.header .navbars ul li{
    list-style: none;
    display: inline-block;
    padding: 0 1rem;
}
.header .navbars ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--rgb);
    font-weight: 500;
}
.header .navbars ul li a:hover{
    color: var(--blue);
    transition: all .5s ease;
}
.sid-bar i{
    font-size: 2rem;
    color: var(--black);
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: 1rem;
    background: #eee;
    text-align: center;
}
.sid-bar i:hover{
   background: var(--red);
   color: var(--white); 
   transition: .5 ease;
}
.header .login-frm{
    position: absolute;
    top: 110%;
    right: 120%; 
    width: 30rem;
    box-shadow: var(--box-shade);
    padding: 2rem;
    border-radius: 5rem;
    background: var(--white);
    text-align: center;
}
.header h3{
    padding-bottom: 2rem;
    font-size: 3rem;
    color: var(--rgb);
}
.header .btn1 {
    width: 10rem;
    padding: 1rem;
    border: none;
    background: #66b3ff;
    color: var(--white);
    margin-bottom: 1rem;
    border-radius: 3rem;
}
.header .logo{
    padding: 1rem;
    width: 100%;
    margin: .5rem 0;
    border: none;
    background:#eeee;
    border-radius: .6rem;
    font-size: 1.5rem;
    color:#ff385c;
    text-transform: none;
}
.login-frm .facebook{
    color: var(--facebook);
}
.login-frm .google {
    color: var(--google);
}
.header p{
    padding: .3rem 0;
    font-size: 1.6rem;
    color: var(--lg);
}
.header a{
    font-size: 1.3rem;
}
.btn{
    padding: .8rem;
    width: 10rem;
    margin-top: 1rem;
    border: .1rem solid var(--rgb);
    background: var(--lg);
    font-size: 1.4rem;
}
.btn:hover{
    background: var(--rgb);
    color: var(--white);
    transition: all .5s ease;
    cursor: pointer;
}
/********************header*********************/
.section {
    padding: 10rem 9%;
    min-height: 100vh;
}
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background:  linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('./Vagetable Grocery Website/images/back1.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}
.home .home-content{
    text-align: center;
    width: 80rem;
    color: var(--white);
}
.home .home-content h3{
    padding: 1rem;
    font-size: 5rem;
    color: var(--lg);
}
.home .home-content p{
    padding: .4rem;
    font-size: 2.4rem;
    line-height: 2.2rem;
    color: #eee;
}
.home .home-content i{
    font-size: 1.2rem;
    animation: animate 1s ease infinite;
}
@keyframes animate {
    0%
    {
        transform:translateX(-.5rem);
    }
    100%
    {
        transform:translateX(1rem);
    }
    
}
/********************End home**********************/
/******************service*************************/
.head {
font-size: 3rem;
color: var(--rgb);
padding: 3rem 0;
text-align: center;
letter-spacing: .1rem;
}
.head-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.5rem;
    
}
.head-container .container {
    background: #eee;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: var(--box-shade);
}
.head-container .container img {
 width: 20rem;
 height: 20rem;   
}
.head-container .container h2{
    font-size: 2rem;
    margin-bottom: .6rem;
    color:var(--red);
}
.head-container .container:hover{
    transform: translateY(-2rem);
    transition: 1s ease;
}
.btn2 {
   padding: 1rem;
   border: .1rem solid var(--rgb);
   background:var(--lg);
   border-radius: .4rem 4rem;
   font-size: 1.5rem; 
   width: 12rem;
   margin-top: 1rem;
}
.btn2:hover{
  border-radius: 4rem .4rem;
  cursor: pointer;
  background: var(--rgb);
  color: var(--white);
  transition: all 1s ease-in-out; 
}
/*******************End service*******************/
/********************product*********************/
.product-list .container img {
  height: 20rem;
}
.description{
    font-size: 2rem;
    text-align: center;
    padding: .5rem 0;
    font-weight: 700;
}
.product-list {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}
.product-list .container{
    text-align: center;
    background: #eee;
    padding: 3rem 2rem;
    border: .1rem solid var(--white);
    box-shadow: var(--box-shade);
}
.product-list .container img:hover{
    transform:scale(1.1);
    transition: 1s ease;
}
.product-list .container h2{
    font-size: 2rem;
    margin-bottom: .7rem;
    color: var(--rgb);

}
.product-list .container .rate i{
    font-size: 1.5rem;
    padding: .3rem 0;
    margin-bottom: .6rem;
}
.product-list .container .price {
    font-size: 2rem;
    font-weight: 600;
    padding: .3rem 0;
    color: var(--blue);
}
.btn3 {
    width: 100%;
    padding: 1rem ;
    margin-top: 1.2rem;
    border: 1px solid var(--rgb);
    background: var(--lg);
    font-size: 1.5rem;
    color: var(--white);
    border-radius: .4rem 4rem;

}
.btn3 i{
   padding-left: 1rem;
}
/**********************End product********************/
.category-container{
   padding: 2rem;
   display: grid;
   grid-template-columns: repeat(4,1fr); 
   grid-gap:1rem;
}
.category-container .container img{
    height: 20rem;
}
.category-container .container {
    background: #eee;
    border: .1rem solid var(--rgb);
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: var(--box-shade);
}
.category-container .container img:hover{
    transform: scale(1.2);
    transition: 1s ease;
}
.category-container .container h3{
    font-size: 2rem;
    padding: 1.5rem;
    color: var(--rgb);
}
.category-container .container:hover{
    border: .1rem solid var(--rgb);
    transition: .5s ease;
}
/************************blog**************************/
.blog-container .container img {
    width:100%;
    height: 25rem;
    object-fit: cover;
}
.blog-container {
    display: flex;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;

}
.blog-container .container {
    background: #eee;
    padding:2rem;
    box-shadow: var(--box-shade);
}
.blog-container .container .cal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: .2rem;
    padding-bottom: 1rem;
    border-bottom: .1rem solid var(--rgb);
}
.blog-container .container .cal i {
 color: var(--rgb);
 padding:0 .2rem;
 font-size: 1.5rem;
}
.blog-container .container img:hover{
    transform: scale(1.1);
    transition: .5s ease;
}
.blog-container .container p{
    font-size: 1.3rem;
    padding: .3rem 0;
}
.blog-container .container h3{
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: 600;
}
.container-1{
    width: 100%;
    background: var(--lg);
    padding: 3rem 2rem;
}
.about-sec{
    display: inline-block;
}
.about-box {
    padding:2rem;
}
.about-box .text h6{
    font-size: 2rem;
    font-weight: 600;
    padding: .8rem 0;
}
.about-box .text p{
    font-size: 1.5rem;
    padding: .5rem 0;
}
.social i{
    font-size: 2rem;
    padding: .6rem 0;
    color: var(--white);
    font-weight: 600;
}
.social .fab{
    background: var(--lg);
    padding: .6rem;
    transition: .3s ease;
}
.social .fab:hover{
    transform: translateY(-.3rem);
}
.about-box .text a{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    padding: 2rem 0;
    margin: 2rem 0;
}
.about-box .text .fas{
    color: var(--white);
    font-size: 1.5rem;
    padding: .8rem .4rem;
}
.about-box .text .fas:hover{
    transform: translateX(.5rem);
    transition: .5s ease;
}
.copyright {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0;
    background: var(--black);
    color: var(--white);
}
.about-box .text h6{
    font-size: 2.5rem;
}
















/* media Query  */
@media(max-width:991px)
{
    html
    {
        font-size: 54%;
    }
    header
    {
        padding: 2rem;
    }
    section
    {
        padding:2rem;
    }
}
@media(max-width:450px)
{
    html
    {
        font-size:53%
    }
}
@media(max-width:765px)
{
    #menu 
    {
        display: inline-block;
    }
    .header .navbars
    {
        position:absolute;
        top:110%;
        right:-110%;
        width:100%;
        background: #eee;
        font-size:2rem;
    }
    .header .navbars ul li 
    {
        margin:2rem 2.5rem;
        display: block;
    }
    .header .navbars ul li:hover 
    {
        transform: translateX(.5rem);
        transition: .5s ease;
    }
    .header .navbars.active
    {
        right:.5rem;
        transition:.4s ease;
    }
    .home-content
    {
        padding:2rem;
    }
    .head-container
    {
        display: block;
        padding:1rem;
        grid-gap:1rem;
    }
    .container
    {
        margin:2.5rem 0;
    }
    .product-list
    {
        display: block;
        padding: 2rem;
        grid-gap:1rem;
    }
    .category-container
    {
        display: block;
        padding: 2rem;
        grid-gap:1rem;
    }
    .blog-container
    {
        display: block;
        padding:2rem;
        grid-gap:1rem;
    }
    .container-1
    {
        margin-left:-5rem;
    }
    .about-sec
    {
        display: block;
    }
}